:host {
  padding: 20px;
  display: block;
}

.market-table {
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}

table {
  width: 100%;

  tr {
    text-align: center;
    overflow-y: scroll;
  }

  td {
    background-color: #eee;
    padding: 10px;
    font-size: 12px;
  }

  th {
    background-color: #0a2363;
    color: #fff;
    padding: 10px;
    font-size: 14px;
  }
}

mat-form-field {
  width: 424px;
}
