<mat-form-field class="mb-2" appearance="fill">
  <input matInput ngModel type="text" name="search" (ngModelChange)="searchText$.next($event);" placeholder="search">
</mat-form-field>
<section class="market-table">
  <table>
    <tr>
      <th>Sıra</th>
      <th>Market Kodu</th>
      <th>Güncel Fiyat</th>
      <th>Fiyat Değişimi</th>
      <th>Değişim Yüzdesi</th>
      <th>En Yüksek Fiyat</th>
      <th>En Düşük Fiyat</th>
    </tr>
    <tr *ngFor="let market of (markets$ | async); let index = index" [hidden]="searchText$.value && !(market.marketCode.toLowerCase().includes(searchText$.value.toLowerCase()))">
      <td>{{index + 1}}</td>
      <td [routerLink]="['./', market?.marketCode]">{{market?.marketCode}}</td>
      <td>{{market?.currentQuote | currency: ' ' : ' '}}</td>
      <td>{{market?.change24h | currency: ' ' : ' '}}</td>
      <td
        [ngStyle]="{'color': +market.change24hPercent < 0 ? 'red' : +market.change24hPercent > 0 ? 'green' : 'black'}">{{market?.change24hPercent}}</td>
      <td>{{market?.highestQuote24h | currency: ' ' : ' '}}</td>
      <td>{{market?.lowestQuote24h | currency: ' ' : ' '}}</td>
    </tr>

  </table>
</section>

<router-outlet></router-outlet>
